# **Limpeza e Pré-Processamento de Dados com NumPy**


Este notebook, tem como objetivo, demonstrar o poder do pacote NumPy para limpar e pré-processar um dataset complexo e com diversos problemas, sobre empréstimos. Os dados reais estão disponíveis publicamente neste link https://www.openintro.org/data/index.php?data=loans_full_schema. Porém, o dataset que será importado neste notebook, passou por algumas modificações com a finalidade de deixá-lo ainda mais problemático. Estas modificações do dataset original, foram realizadas pela equipe da **Data Science Academy**. Esta foi uma atividade proposta do curso *Big Data Real-Time Analytics com Python e Spark*, que compõem a formação Cientista de Dados, da **Data Science Academy**

In [1]:
# Versão da Linguagem Python
from platform import python_version
print("Versão da Linguagem Python Usada Neste Jupyter Notebook: ", python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook:  3.9.7

In [2]:
import numpy as np

In [3]:
# Omitindo os wargnins gerados pelos comandos
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Versões dos pacotes usados neste trabalho
%reload_ext watermark
%watermark -a "Ranieri Miranda Imperatori" --iversions

Author: Ranieri Miranda Imperatori

numpy: 1.22.3

In [5]:
# Configuração de impressão do NumPy
np.set_printoptions(suppress = True, linewidth = 200, precision = 2)

### **Carregando o Dataset**

In [6]:
dados = np.genfromtxt("dados/dataset1.csv",
                     delimiter = ";",
                     skip_header = 1, #não vamos importar o cabeçalho
                     autostrip = True, #removendo espaços nas colunas
                     encoding = "cp1252")

In [7]:
type(dados)

numpy.ndarray

In [8]:
dados.shape

(10000, 14)

In [9]:
dados.view()

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

Veja que o NumPy não reconheceu algumas colunas com caracteres especiais (string), durante a carga do dataset. Será preciso resolver este problema.  
É importante perceber com este último output do nosso código, que nem sempre os valores ausentes serão um problema dos dados; de acordo com a ferramenta que estivermos utilizando para realizar a carga, poderemos gerar valores missing, como aconteceu logo acima!

### **Verificando Valores Ausentes**

In [10]:
np.isnan(dados).sum()

88005

In [11]:
# Vamos retornar o maior valor +1 ignorando valores nan. 
# Usaremos esse valor arbitrário para preencher os valores ausentes no momento da carga de dados das variáveis 
# numéricas e depois tratamos esse valor como valor ausente

valor_provisorio = np.nanmax(dados) + 1
print(valor_provisorio)

68616520.0

In [12]:
# Calculamos a média (variáveis numéricas) ignorando valores nan por coluna
# Usaremos isso para separar variáveis numéricas de variáveis do tipo string
media_ignorando_nan = np.nanmean(dados, axis=0)
print(media_ignorando_nan)

[54015809.19         nan    15273.46         nan    15311.04         nan       16.62      440.92         nan         nan         nan         nan         nan     3143.85]

In [13]:
# Colunas do tipo string com valores ausentes
colunas_strings = np.argwhere(np.isnan(media_ignorando_nan)).squeeze()
colunas_strings

array([ 1,  3,  5,  8,  9, 10, 11, 12])

In [14]:
# Colunas numéricas
colunas_numericas = np.argwhere(np.isnan(media_ignorando_nan) == False).squeeze()
colunas_numericas

array([ 0,  2,  4,  6,  7, 13])

**Vamos carregar novamente os dados, porém agora filtrando as colunas que são do tipo string e numéricas.**

In [15]:
# Carregando as colunas do tipo string
arr_strings = np.genfromtxt("dados/dataset1.csv",
                           delimiter = ";",
                           skip_header = 1,
                           autostrip = True,
                           usecols = colunas_strings, #carregando somente os índices das colunas string
                           dtype = str,
                           encoding = "cp1252")

In [16]:
arr_strings

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

In [17]:
# Carregando as colunas do tipo numérico preenchendo os valores ausentes
arr_numeric = np.genfromtxt("dados/dataset1.csv",
                           delimiter = ";",
                           skip_header = 1,
                           autostrip = True,
                           usecols = colunas_numericas,
                           filling_values = valor_provisorio, #se houver valor ausente, preencher com o valor provisorio
                           encoding = "cp1252")

In [18]:
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

Vamos agora extrair os nomes das colunas.

In [19]:
# Carregando os nomes das colunas
arr_nomes_colunas = np.genfromtxt("dados/dataset1.csv",
                                 delimiter = ";",
                                 autostrip = True,
                                 skip_footer = dados.shape[0],
                                 dtype = str,
                                 encoding = "cp1252")

In [20]:
arr_nomes_colunas

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state', 'total_pymnt'], dtype='<U19')

In [21]:
# Separando os títulos de colunas string e colunas numéricas
header_strings, header_numeric = arr_nomes_colunas[colunas_strings], arr_nomes_colunas[colunas_numericas]

In [22]:
header_strings

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [23]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

## Função de Checkpoint

**Checkpoint 1**

A função de checkpoint (*não é obrigatório para o processo de análise*) é uma boa prática para evitar a necessidade de refazer tudo a partir do zero!

In [24]:
# Função
def checkpoint(file_name, checkpoint_header, checkpoint_data):
    np.savez(file_name, header = checkpoint_header, data = checkpoint_data)
    checkpoint_variable = np.load(file_name + ".npz")
    return(checkpoint_variable)

In [25]:
checkpoint_inicial = checkpoint("dados/Checkpoint-Inicial", header_strings, arr_strings)

In [26]:
checkpoint_inicial["data"]

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

In [27]:
np.array_equal(checkpoint_inicial["data"], arr_strings) #verificando o que salvamos

True

### Manipulando as Colunas do Tipo String

In [28]:
header_strings

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [29]:
# Vamos ajustar o nome da coluna issue_d para facilitar a identificação da coluna
header_strings[0] = "issue_data"; header_strings

array(['issue_data', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [30]:
arr_strings

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

### Pré-Processamento da Variável issue_date com Label Encoding

In [31]:
# Extraindo os valores únicos da variável
np.unique(arr_strings[:,0])

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15', 'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [32]:
# Removendo o sufixo -15 e convertendo em um array de strings
arr_strings[:,0] = np.chararray.strip(arr_strings[:,0], "-15")

In [33]:
# Extraindo os valores únicos da variável
np.unique(arr_strings[:,0])

array(['', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep'], dtype='<U69')

In [34]:
# Criando um array com os meses (incluindo um elemento como vazio para o que estiver em branco)
meses = np.array(["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])

In [35]:
# Loop para converter os nomes dos meses em valores numéricos
# Isto é aplicar o Label Encoding! Ou seja, converter as categorias de uma variável para sua representação numérica
#correspondente, sem perder informação!

for i in range(13):
    arr_strings[:,0] = np.where(arr_strings[:,0] == meses[i], i, arr_strings[:,0])


# Vamos conferir nossa conversão:
np.unique(arr_strings[:,0])

array(['0', '1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U69')

Veja que os números de 1 a 12, representam Janeiro a Dezembro, respectivamente.  
O valor zero, representa as células que estão com valor missing.

### Pré-Processamento da Variável loan_status com Binarização

In [36]:
header_strings

array(['issue_data', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [37]:
# Extraindo os valores únicos da variável
np.unique(arr_strings[:,1])

array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued', 'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69')

In [38]:
# Número de elementos
np.unique(arr_strings[:,1]).size

9

Vamos aplicar o conceito de binzarização para esta variável do status do empréstimo. Vamos criar um "status ruim" e outro bom, consecutivamente. Veja a seguir:

In [39]:
# Criando um array com 3 status que consideramos ruim, mais os valores missing:
status_bad = np.array(["", "Charged Off", "Defaul", "Late(31-120 days)"])

In [40]:
# Vamos checar os valores da variável e comparar com o array anterior, convertendo a variável para valores binários

arr_strings[:,1] = np.where(np.isin(arr_strings[:,1], status_bad), 0, 1)

In [41]:
# Extraindo os valores únicos da variável
np.unique(arr_strings[:,1])

array(['0', '1'], dtype='<U69')

É importante ressaltar neste ponto, o porquê de estarmos adotando tais procedimentos de conversão de strings para representação numérica: **se este dataset estiver sendo preparado para aplicar machine learning posteriomente, não podemos entregar texto para o modelo!**  
Há exceção para alguns casos AutoML, mas de um modo geral, sempre será preciso conversão para representação numérica!

### Pré-Processamento da Variável term com Limpeza de String

In [42]:
header_strings

array(['issue_data', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [43]:
# Extraindo os valores únicos da variável
np.unique(arr_strings[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [44]:
# Removendo a palavra months (observe que há um espaço antes da palavra!)
arr_strings[:,2] = np.chararray.strip(arr_strings[:,2], " months")
arr_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [45]:
# Mudando o nome da variável
header_strings[2] = "term_months"

In [46]:
# Substituindo os valores ausentes pelo maior valor, neste caso, 60
arr_strings[:,2] = np.where(arr_strings[:,2] == "", "60", arr_strings[:,2])
arr_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [47]:
# Extraindo novamente os valores únicos da variável
np.unique(arr_strings[:,2])

array(['36', '60'], dtype='<U69')

### Pré-Processamento das Variáveis grade e sub_grade com a Frequência

In [48]:
header_strings

array(['issue_data', 'loan_status', 'term_months', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [49]:
# Extraindo os valores únicos da variável grade
np.unique(arr_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [50]:
# Extraindo os valores únicos da variável sub_grade
np.unique(arr_strings[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1',
       'G2', 'G3', 'G4', 'G5'], dtype='<U69')

Vamos ajustar a variável sub_grade.

In [51]:
np.unique(arr_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [52]:
# Como valor ausente não é uma categoria válida, vamos retirá-lo:
np.unique(arr_strings[:,3])[1:]

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [53]:
# Loop para ajuste da variável sub_grade
for i in np.unique(arr_strings[:,3])[1:]:
    arr_strings[:,4] = np.where((arr_strings[:,4] == "") & (arr_strings[:,3] == i), i + "5", arr_strings[:,4])

In [54]:
# Retornando categorias e suas respectivas contagens
np.unique(arr_strings[:,4], return_counts = True)

(array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1',
        'G2', 'G3', 'G4', 'G5'], dtype='<U69'),
 array([  9, 285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267, 250, 255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5]))

In [55]:
# Substituíndo valores ausentes por uma nova categoria
arr_strings[:,4] = np.where(arr_strings[:,4] == "", "H1", arr_strings[:,4])

In [56]:
# Extraindo os valores únicos da variável
np.unique(arr_strings[:,4])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2',
       'G3', 'G4', 'G5', 'H1'], dtype='<U69')

Removendo a variável "grade".

In [57]:
arr_strings = np.delete(arr_strings, 3, axis = 1)

In [58]:
# Nova variável na coluna de índice 3
arr_strings[:,3]

array(['C3', 'A5', 'B5', ..., 'A5', 'D2', 'A4'], dtype='<U69')

Removendo a coluna do array de nomes de colunas:

In [59]:
header_strings = np.delete(header_strings, 3)

In [60]:
# Nova variável na coluna de índice 3
header_strings[3]

'sub_grade'

Por fim, convertemos a variável sub_grade para sua representação numérica.

In [61]:
# Extrair os valores únicos da variável
np.unique(arr_strings[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2',
       'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [62]:
# Criando uma lista de chaves
keys = list(np.unique(arr_strings[:,3]))
keys[0]

'A1'

In [63]:
# Criando uma lista de valores
values = list(range(1, np.unique(arr_strings[:,3]).shape[0] + 1))
values[0]

1

In [65]:
# Criamos então o dicionário
dict_sub_grade = dict(zip(keys, values)); dict_sub_grade

{'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'B1': 6,
 'B2': 7,
 'B3': 8,
 'B4': 9,
 'B5': 10,
 'C1': 11,
 'C2': 12,
 'C3': 13,
 'C4': 14,
 'C5': 15,
 'D1': 16,
 'D2': 17,
 'D3': 18,
 'D4': 19,
 'D5': 20,
 'E1': 21,
 'E2': 22,
 'E3': 23,
 'E4': 24,
 'E5': 25,
 'F1': 26,
 'F2': 27,
 'F3': 28,
 'F4': 29,
 'F5': 30,
 'G1': 31,
 'G2': 32,
 'G3': 33,
 'G4': 34,
 'G5': 35,
 'H1': 36}

In [66]:
# Loop para substituir a string com as categorias pea representação numéria (frequência)
for i in np.unique(arr_strings[:,3]):
    arr_strings[:,3] = np.where(arr_strings[:,3] == i, dict_sub_grade[i], arr_strings[:,3])

In [67]:
# Extraindo os valores únicos da variável
np.unique(arr_strings[:,3])

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36', '4', '5', '6',
       '7', '8', '9'], dtype='<U69')

### Pré-Processamento da Variável Verification status com Binarização

In [68]:
header_strings

array(['issue_data', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [69]:
# Valores únicos da variável
np.unique(arr_strings[:,4])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [71]:
# Binarização da variável
arr_strings[:,4] = np.where((arr_strings[:,4] == "") | (arr_strings[:,4] == "Not Verified"), 0, 1)
np.unique(arr_strings[:,4])

array(['0', '1'], dtype='<U69')

### Pré-Processamento da Variável url com Extração de ID

In [72]:
arr_strings[:,5]

array(['https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', ..., 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249'], dtype='<U69')

In [73]:
# Extraindo o ID ao final de cada url
np.chararray.strip(arr_strings[:,5], "https://www.lendingclub.com/browse/loanDetails.action?loan_id=")

chararray(['48010226', '57693261', '59432726', ..., '50415990', '46154151', '66055249'], dtype='<U69')

In [75]:
# Salvando os IDs (e substituindo) no lugar das url
arr_strings[:,5] = np.chararray.strip(arr_strings[:,5], 
                                      "https://www.lendingclub.com/browse/loanDetails.action?loan_id=")

In [76]:
# Convertendo para int32
arr_strings[:,5].astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249], dtype=int32)

In [79]:
# Veja que esse ID, aparentemente é o mesmo ID da primeira coluna do dataset. Vamos testar:

arr_numeric[:,0].astype(dtype = np.int32)
np.array_equal(arr_numeric[:,0].astype(dtype = np.int32), arr_strings[:,5].astype(dtype = np.int32))

True

Confirmamos ser o mesmo dado. Vamos remover, portanto, a variável url que acabamos de tratar.

In [80]:
arr_strings = np.delete(arr_strings, 5, axis = 1)

In [81]:
# Removendo o o nome da coluna (nome da variável)
header_strings = np.delete(header_strings, 5)

In [82]:
# Nova coluna no índice 5
arr_strings[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [83]:
# Nova lista de colunas
header_strings

array(['issue_data', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'addr_state'], dtype='<U19')

In [84]:
# Coluna ID
arr_numeric[:,0]

array([48010226., 57693261., 59432726., ..., 50415990., 46154151., 66055249.])

In [85]:
# Coluna ID agora faz parte do array de numéricos
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

### Pré-Processamento da Variável address com Categorização

In [86]:
header_strings

array(['issue_data', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'addr_state'], dtype='<U19')

In [87]:
# Vamos ajustar o nome da coluna
header_strings[5] = "state_address"

In [88]:
# Extraindo nomes e contagens
states_names, states_count = np.unique(arr_strings[:,5], return_counts = True)

In [90]:
# Ordenando em ordem decrescente
states_count_sorted = np.argsort(-states_count)

In [91]:
# Imprimindo o resultado
states_names[states_count_sorted], states_count[states_count_sorted]

(array(['CA', 'NY', 'TX', 'FL', '', 'IL', 'NJ', 'GA', 'PA', 'OH', 'MI', 'NC', 'VA', 'MD', 'AZ', 'WA', 'MA', 'CO', 'MO', 'MN', 'IN', 'WI', 'CT', 'TN', 'NV', 'AL', 'LA', 'OR', 'SC', 'KY', 'KS', 'OK',
        'UT', 'AR', 'MS', 'NH', 'NM', 'WV', 'HI', 'RI', 'MT', 'DE', 'DC', 'WY', 'AK', 'NE', 'SD', 'VT', 'ND', 'ME'], dtype='<U69'),
 array([1336,  777,  758,  690,  500,  389,  341,  321,  320,  312,  267,  261,  242,  222,  220,  216,  210,  201,  160,  156,  152,  148,  143,  143,  130,  119,  116,  108,  107,   84,   84,   83,
          74,   74,   61,   58,   57,   49,   44,   40,   28,   27,   27,   27,   26,   25,   24,   17,   16,   10]))

In [92]:
# Substituindo valores ausentes por zero
arr_strings[:,5] = np.where(arr_strings[:,5] == "", 0, arr_strings[:,5])

Vamos separar os estados por regiões. Referência: https://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf

In [93]:
# Separando os estados por regiões

states_west = np.array(["WA", "OR", "CA", "NV", "ID", "MT", "WY", "UT", "CO", "AZ", "NM", "HI", "AK"])
states_south = np.array(["TX", "OK", "AR", "LA", "MS", "AL", "TN", "KY", "FL", "GA", "SC", "NC", "VA", "WV", "MD", "DE", "DC"])
states_midwest = np.array(["ND", "SD", "NE", "KS", "MN", "IA", "MO", "WI", "IL", "IN", "MI", "OH"])
states_east = np.array(["PA", "NY", "NJ", "CT", "MA", "VT", "NH", "ME", "RI"])

In [94]:
# Substituíndo cada estado por ID da sua região

arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_west), 1, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_south), 2, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_midwest), 3, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_east), 4, arr_strings[:,5])

In [95]:
# Extraindo os valores únicos
np.unique(arr_strings[:,5])

array(['0', '1', '2', '3', '4'], dtype='<U69')

### Convertendo o Array

O array de strings agora é um array numérico! Vamos ajustar, portanto, o tipo de dado.

In [96]:
arr_strings

array([['5', '1', '36', '13', '1', '1'],
       ['0', '1', '36', '5', '1', '4'],
       ['9', '1', '36', '10', '1', '4'],
       ...,
       ['6', '1', '36', '5', '1', '1'],
       ['4', '1', '36', '17', '1', '3'],
       ['12', '1', '36', '4', '0', '3']], dtype='<U69')

In [97]:
arr_strings = arr_strings.astype(int)

In [99]:
arr_strings.dtype

dtype('int64')

## Checkpoint com Variáveis do Tipo String Limpas e Pré-Processadas

**Checkpoint 2**

In [100]:
checkpoint_strings = checkpoint("dados/Checkpoint-Strings", header_strings, arr_strings)

In [101]:
checkpoint_strings["header"]

array(['issue_data', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'state_address'], dtype='<U19')

In [102]:
checkpoint_strings["data"]

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [103]:
# Conferindo
np.array_equal(checkpoint_strings["data"], arr_strings)

True

### Manipulando Colunas Numéricas

In [104]:
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

In [105]:
# Nomes das colunas
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [106]:
# Não temos valor ausente, pois substituímos por um valor arbitrário ao carregar os dados
np.isnan(arr_numeric).sum()

0

**O zero, indica que não há ausência de dado. Mas, há ausência de informação!**
O valor provisório que inserimos no início do projeto (onde antes existiam dados missing) não é uma informação válida para todo dataset. Nós colocamos justamente para tratar agora!

In [107]:
valor_provisorio

68616520.0

In [110]:
# Checando se uma coluna foi preenchida com o valor provisorio
np.isin(arr_numeric[:,0], valor_provisorio).sum()

0

Vamos criar um array de estatísticas, especificamente valor mínimo, máximo e média de cada variável. Usaremos isso no tratamento de valores ausentes (preenchidos com o valor provisório).

In [112]:
arr_stats = np.array([np.nanmin(dados, axis = 0), media_ignorando_nan, np.nanmax(dados, axis = 0)])

In [113]:
print(arr_stats)

[[  373332.           nan     1000.           nan     1000.           nan        6.         31.42         nan         nan         nan         nan         nan        0.  ]
 [54015809.19         nan    15273.46         nan    15311.04         nan       16.62      440.92         nan         nan         nan         nan         nan     3143.85]
 [68616519.           nan    35000.           nan    35000.           nan       28.99     1372.97         nan         nan         nan         nan         nan    41913.62]]

In [114]:
arr_stats[:, colunas_numericas]

array([[  373332.  ,     1000.  ,     1000.  ,        6.  ,       31.42,        0.  ],
       [54015809.19,    15273.46,    15311.04,       16.62,      440.92,     3143.85],
       [68616519.  ,    35000.  ,    35000.  ,       28.99,     1372.97,    41913.62]])

### Pré-Processamento da Variável funded_amnt

In [115]:
arr_numeric[:,2]

array([35000., 30000., 15000., ..., 10000., 10000., 10000.])

In [117]:
# Buscando a mesma variável no array de estatísticas
arr_stats[0, colunas_numericas[2]]

1000.0

In [118]:
# Ajustando o conteúdo da coluna
arr_numeric[:,2] = np.where(arr_numeric[:,2] == valor_provisorio, arr_stats[0, colunas_numericas[2]], arr_numeric[:,2])

In [119]:
arr_numeric[:,2]

array([35000., 30000., 15000., ..., 10000., 10000., 10000.])

### Pré-Processamento das Variáveis loan_amnt, int_rate, installment e total_pymnt

In [120]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [121]:
# Loop para substituir o valor ausente (valor_provisorio) pelos valores do array de estatísticas

for i in [1,3,4,5]:
    arr_numeric[:,i] = np.where(arr_numeric[:,i] == valor_provisorio,
                               arr_stats[2, colunas_numericas[i]],
                               arr_numeric[:,i])

In [122]:
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  ,       28.99,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  ,       28.99,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  ,       28.99,     1372.97,     2185.64],
       [46154151.  ,    35000.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  ,       28.99,      309.97,      301.9 ]])

# Trabalhando com o Segundo Dataset

Vamos carregar os dados de cotação USD - EURO.  
Cada linha do dataset corresponde à taxa de câmbio para um mês em um ano.

In [123]:
# Carregando o segundo dataset

dados_cot = np.genfromtxt("dados/dataset2.csv",
                         delimiter = ",",
                         autostrip = True,
                         skip_header = 1,
                         usecols = 3)

In [124]:
# Visualizando
dados_cot

array([1.13, 1.12, 1.08, 1.11, 1.1 , 1.12, 1.09, 1.13, 1.13, 1.1 , 1.06, 1.09])

In [126]:
# Nomes das colunas
header_strings

array(['issue_data', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'state_address'], dtype='<U19')

In [127]:
# Dados
arr_strings

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [128]:
# A coluna 0 do array de strings é o mês
arr_strings[:,0]

array([ 5,  0,  9, ...,  6,  4, 12])

In [129]:
# Vamos atribuir a coluna de mês à variável chamada exchange_rate
exchange_rate = arr_strings[:,0]

In [130]:
# Loop para preencher a variável exchange_rate com a taxa correspondente ao mês
# Usamos dados_cot[i - 1] para "desconsiderar" o cabeçalho

for i in range(1,13):
    exchange_rate = np.where(exchange_rate == i, dados_cot[i - 1], exchange_rate)

In [131]:
exchange_rate

array([1.1 , 0.  , 1.13, ..., 1.12, 1.11, 1.09])

In [133]:
# Onde a taxa de câmbio estiver com zero, substituímos pela média
exchange_rate = np.where(exchange_rate == 0, np.mean(dados_cot), exchange_rate); exchange_rate

array([1.1 , 1.11, 1.13, ..., 1.12, 1.11, 1.09])

In [134]:
exchange_rate.shape

(10000,)

In [135]:
arr_numeric.shape

(10000, 6)

In [137]:
exchange_rate = np.reshape(exchange_rate, (10000,1))

In [138]:
# Concatenação dos arrays
arr_numeric = np.hstack((arr_numeric, exchange_rate))

In [139]:
# Incluindo o nome da coluna no array de nomes de colunas
header_numeric = np.concatenate((header_numeric, np.array(['exchange_rate']))); header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'], dtype='<U19')

Vamos criar colunas para as taxas de câmbio em USD e EURO.

In [140]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'], dtype='<U19')

In [141]:
# Colunas em USD
columns_dollar = np.array([1,2,4,5])

In [142]:
# Visualizando
arr_numeric[:,6]

array([1.1 , 1.11, 1.13, ..., 1.12, 1.11, 1.09])

In [143]:
# Shape
arr_numeric.shape

(10000, 7)

In [144]:
# Loop pelas colunas USD para aplicar a taxa de conversão para EURO

for i in columns_dollar:
    arr_numeric = np.hstack((arr_numeric, np.reshape(arr_numeric[:,i] / arr_numeric[:,6], (10000,1))))

In [145]:
# Shape
arr_numeric.shape

(10000, 11)

In [146]:
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  , ...,    31933.3 ,     1081.04,     8624.69],
       [57693261.  ,    30000.  ,    30000.  , ...,    27132.46,      848.86,     4232.39],
       [59432726.  ,    15000.  ,    15000.  , ...,    13326.3 ,      439.64,     1750.04],
       ...,
       [50415990.  ,    10000.  ,    10000.  , ...,     8910.3 ,     1223.36,     1947.47],
       [46154151.  ,    35000.  ,    10000.  , ...,     8997.4 ,      318.78,     2878.63],
       [66055249.  ,    10000.  ,    10000.  , ...,     9145.8 ,      283.49,      276.11]])

Vamos expandir o cabeçalho com as novas colunas

In [147]:
header_additional = np.array([column_name + "_EUR" for column_name in header_numeric[columns_dollar]]); header_additional

array(['loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U15')

In [149]:
header_numeric = np.concatenate((header_numeric,header_additional)); header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate', 'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR', 'loan_amnt_EUR',
       'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U19')

In [152]:
header_numeric[columns_dollar] = np.array([column_name + "_USD" for column_name in header_numeric[columns_dollar]]); header_numeric

array(['id', 'loan_amnt_USD', 'funded_amnt_USD', 'int_rate', 'installment_USD', 'total_pymnt_USD', 'exchange_rate', 'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR',
       'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U19')

In [151]:
columns_index_order = [0,1,7,2,8,3,4,9,5,10,6]

In [153]:
header_numeric = header_numeric[columns_index_order]; arr_numeric

array([[48010226.  ,    35000.  ,    35000.  , ...,    31933.3 ,     1081.04,     8624.69],
       [57693261.  ,    30000.  ,    30000.  , ...,    27132.46,      848.86,     4232.39],
       [59432726.  ,    15000.  ,    15000.  , ...,    13326.3 ,      439.64,     1750.04],
       ...,
       [50415990.  ,    10000.  ,    10000.  , ...,     8910.3 ,     1223.36,     1947.47],
       [46154151.  ,    35000.  ,    10000.  , ...,     8997.4 ,      318.78,     2878.63],
       [66055249.  ,    10000.  ,    10000.  , ...,     9145.8 ,      283.49,      276.11]])

In [154]:
arr_numeric = arr_numeric[:,columns_index_order]

### Pré-Processamento da Variável int-rate

In [155]:
header_numeric

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate', 'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
      dtype='<U19')

In [156]:
arr_numeric[:,5]

array([13.33, 28.99, 28.99, ..., 28.99, 16.55, 28.99])

In [157]:
# Vamos apenas dividir por 100
arr_numeric[:,5] = arr_numeric[:,5] / 100; arr_numeric[:,5]

array([0.13, 0.29, 0.29, ..., 0.29, 0.17, 0.29])

# Checkpoint com Variáveis Numéricas Limpas e Pré-Processadas

**Checkpoint 3**

In [159]:
checkpoint_numeric = checkpoint("dados/Checkpoint-Numeric", header_numeric, arr_numeric)

In [160]:
checkpoint_numeric["header"], checkpoint_numeric["data"]

(array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate', 'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
       dtype='<U19'),
 array([[48010226.  ,    35000.  ,    31933.3 , ...,     9452.96,     8624.69,        1.1 ],
        [57693261.  ,    30000.  ,    27132.46, ...,     4679.7 ,     4232.39,        1.11],
        [59432726.  ,    15000.  ,    13326.3 , ...,     1969.83,     1750.04,        1.13],
        ...,
        [50415990.  ,    10000.  ,     8910.3 , ...,     2185.64,     1947.47,        1.12],
        [46154151.  ,    35000.  ,    31490.9 , ...,     3199.4 ,     2878.63,        1.11],
        [66055249.  ,    10000.  ,     9145.8 , ...,      301.9 ,      276.11,        1.09]]))

# Construindo o Dataset Final

In [161]:
checkpoint_strings["data"].shape

(10000, 6)

In [162]:
checkpoint_numeric["data"].shape

(10000, 11)

In [163]:
# Concatena os arrays
df_final = np.hstack((checkpoint_numeric["data"], checkpoint_strings["data"])); df_final

array([[48010226.  ,    35000.  ,    31933.3 , ...,       13.  ,        1.  ,        1.  ],
       [57693261.  ,    30000.  ,    27132.46, ...,        5.  ,        1.  ,        4.  ],
       [59432726.  ,    15000.  ,    13326.3 , ...,       10.  ,        1.  ,        4.  ],
       ...,
       [50415990.  ,    10000.  ,     8910.3 , ...,        5.  ,        1.  ,        1.  ],
       [46154151.  ,    35000.  ,    31490.9 , ...,       17.  ,        1.  ,        3.  ],
       [66055249.  ,    10000.  ,     9145.8 , ...,        4.  ,        0.  ,        3.  ]])

In [164]:
# Verificando se tem valor ausente
np.isnan(df_final).sum()

0

In [165]:
# Concatenando os arrays de nomes de colunas
header_full = np.concatenate((checkpoint_numeric["header"], checkpoint_strings["header"]))

In [167]:
# Ordenando o dataset
df_final = df_final[np.argsort(df_final[:,0])]; df_final

array([[  373332.  ,     9950.  ,     9038.08, ...,       21.  ,        0.  ,        1.  ],
       [  575239.  ,    12000.  ,    10900.2 , ...,       25.  ,        1.  ,        2.  ],
       [  707689.  ,    10000.  ,     8924.3 , ...,       13.  ,        1.  ,        0.  ],
       ...,
       [68614880.  ,     5600.  ,     5121.65, ...,        8.  ,        1.  ,        1.  ],
       [68615915.  ,     4000.  ,     3658.32, ...,       10.  ,        1.  ,        2.  ],
       [68616519.  ,    21600.  ,    19754.93, ...,        3.  ,        0.  ,        2.  ]])

In [168]:
# Conferindo a ordenação da coluna 0
np.argsort(df_final[:,0])

array([   0,    1,    2, ..., 9997, 9998, 9999])

# Gravando o Dataset Final Limpo e Pré-Processado

In [169]:
# Concatenando o array de nomes de colunas com o array de dados
df_final = np.vstack((header_full, df_final))

In [170]:
# Salvando em disco

np.savetxt("dados/dataset_limpo_preprocessado.csv",
          df_final,
          fmt = "%s",
          delimiter = ",")

Assim, concluímos nossa tarefa!